div {
    margin: 10px;
}

h2 {
    margin-top: 0;
}

div#settings {
    float: left;
    width: 500px;
}

#area, #issue {
    display: none;
}

div#description {
    float: left;
    width: 500px;
}

div#canvas {
    float: left;
}

canvas {
    border: 1px solid;
}