<div id="description">
    <h2>Description</h2>
    <p>
        The lqfb-delegation-graph is an experimental graph view of delegations in
        <a href="http://liquidfeedback.org/">LiquidFeedback</a>.
    </p>
    <p>
        Every node in the graph is a member of the selected LiquidFeedback instance.
        Members that do not delegate or are no delegates are not shown.
    </p>
    <p>
        Names of the members can only be shown when you provide an API key. Instead you can see the IDs of
        the members, the second number is the number of delegations this member has.
    </p>
    <p>
        The lines between nodes symbolize the delegation. The delegation is passed in the direction with that
        the small black dot shows. Additionally the count of delegations is shown by the size of the nodes.
    </p>
    <p>
        Nodes try to separate but nodes that are connected attract each other. Still they sometimes end up
        intertwined.
    </p>
</div>