<!--<div id="settings">
            <h2>Settings</h2>
            <form>
                API BaseUrl: <input id="baseUrl" type="text" name="baseUrl" value="http://apitest.liquidfeedback.org:25520/" size="50" /><br />
                API Key: <input id="apiKey" type="text" name="apiKey" value="" size="50" /><br />
                Scope:
                <select id="scope" name="scope">-->
<!--<option value="all">All</option>-->
<!--<option value="unit" selected>Unit</option>
<option value="area">Area</option>
<option value="issue">Issue</option>
</select>
<select id="unit" name="unit" /></select>
<select id="area" name="area" /></select>
<select id="issue" name="issue" /></select>
<br />
<br />
FPS: <input id="FPS" type="text" name="FPS" value="60" size="50" /><br />
Radius: <input id="radius" type="text" name="radius" value="10" size="50" /><br />
RadiusDelegation: <input id="radiusDelegation" type="text" name="radiusDelegation" value="5" size="50" /><br />
MemberLimit: <input id="memberLimit" type="text" name="memberLimit" value="1000" size="50" /><br />
<input id="submit" type="button" name="submit" value="submit" />
</form>
</div>-->